body {
  background-image: url(./assets/bg2.jpg);
  background-size: 100%;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}

.snowflake {
  background-image: radial-gradient(
    farthest-side at 80% 75%,
    #bbb 20%,
    white 80%
  );
  border-radius: 10rem;
  position: absolute;
}
